* {
  box-sizing: border-box;
}

:root {
  --main-font: "Kumbh Sans", sans-serif;
  --bold: 700;
  --accent-1: hsl(238, 29%, 16%);
  --accent-2: hsl(14, 88%, 65%);
  --color-1: hsl(237, 12%, 33%);
  --color-2: hsl(240, 6%, 50%);
  --divider-color: hsl(240, 5%, 91%);
  --light-color: #fff;
  --bg-gradient-1: hsl(273, 75%, 66%);
  --bg-gradient-2: hsl(240, 73%, 65%);
  --para-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-gradient-2);
  background: linear-gradient(
    0deg,
    var(--bg-gradient-2) 0,
    var(--bg-gradient-1) 50%
  );
  color: var(--color-1);
  font-family: var(--main-font);
  font-size: var(--para-size);
}

.cube,
.faq-img-desktop,
.img-shadow-desktop {
  display: none;
}

.faq-container {
  background-color: var(--light-color);
  width: 400px;
  min-width: 300px;
  margin: 8rem auto;
  border-radius: 30px;
  padding: 2rem;
  box-shadow: 1px 10px 50px var(--accent-1);
}

.faq-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.faq-img-mobile,
.img-shadow-mobile {
  width: 300px;
  position: absolute;
}

.faq-img-mobile {
  top: -170px;
}

.img-shadow-mobile {
  top: -35px;
}

h1 {
  text-align: center;
  margin-top: 120px;
  font-size: 32px;
}

.faq-question {
  font-size: var(--para-size);
  font-family: var(--main-font);
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: var(--color-1);
  padding: 0;
  margin-top: 30px;
}

.faq-question:hover {
  color: var(--accent-2);
}

.faq-answer {
  padding: 0 0 20px 0;
  border-bottom: solid 1px var(--divider-color);
  font-weight: var(--bold);
}

.flip {
  transform: rotate(180deg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
